<p style="color: green"><%= notice %></p>

<%= render @kind_user %>

<div>
  <%= link_to "Edit this kind user", edit_kind_user_path(@kind_user) %> |
  <%= link_to "Back to kind users", kind_users_path %>

  <%= button_to "Destroy this kind user", @kind_user, method: :delete %>
</div>
